Repository themeaningof8/turborepo-next-basic: changes, and which lefthook commands are due for each by the changed paths.
All: build-token, check

lefthook.yml:

pre-push:
  commands:
    packages-audit:
      tags: frontend security
      run: pnpm audit

pre-commit:
  parallel: true
  commands:
    build-token:
      glob: "packages/design-token/*"
      run: bunx run build:token {staged_files}
    check:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: bunx run check {staged_files}
    test/e2e:
      run: turbo run test:e2e

Update dependencies and global styles
  apps/web/components.json
  apps/web/package.json
  apps/web/public/favicon-16x16.png
  apps/web/public/favicon-32x32.png
  apps/web/public/favicon.ico
  apps/web/public/og.jpg
  apps/web/settings/index.yaml
  apps/web/src/app/components/ui/button.tsx
  apps/web/src/app/config/site.ts
  apps/web/src/app/global.css
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/app/lib/utils.ts
  apps/web/tsconfig.json
  pnpm-lock.yaml
Due: check

Fix import formatting in utils.ts and update lefthook.yml commands
  apps/web/src/app/lib/utils.ts
  lefthook.yml
Due: check

Fix bug in login functionality
  apps/web/public/android-chrome-192x192.png
  apps/web/public/android-chrome-512x512.png
  apps/web/public/site.webmanifest
Due: none

Fix bug in login functionality
  apps/docs/.eslintrc.js
  apps/web/next.config.js
  apps/web/package.json
  pnpm-lock.yaml
Due: check

Fix bug in login functionality
  .gitignore
Due: none

Refactor import statement in button.tsx
  apps/web/src/app/components/ui/button.tsx
Due: check

Add new files and update existing files
  apps/web/src/app/(public)/layout.tsx
  apps/web/src/app/(public)/loading.tsx
  apps/web/src/app/(public)/page.tsx
  apps/web/src/app/(public)/posts/[slug]/page.tsx
  apps/web/src/app/(public)/posts/page.tsx
  apps/web/src/app/keystatic/layout.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/app/reader.ts
  apps/web/src/components/ui/button.tsx
  apps/web/src/config/site.ts
  apps/web/src/lib/utils.ts
Due: check

Fix import path in button component
  apps/web/src/components/ui/button.tsx
Due: check

Update component and layout paths
  apps/web/components.json
  apps/web/src/app/(public)/layout.tsx
  apps/web/src/app/(public)/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/header.tsx
  apps/web/src/content/posts/first-post.mdoc
  apps/web/tailwind.config.ts
  apps/web/tsconfig.json
Due: check

Update devDependencies in package.json
  package.json
  pnpm-lock.yaml
Due: check

Update dependencies in package.json
  package.json
  pnpm-lock.yaml
Due: check

Add new paths to tsconfig.json and package.json, and update imports in button.tsx and header.tsx
  apps/web/package.json
  apps/web/src/components/commandMenu.tsx
  apps/web/src/components/header.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/command.tsx
  apps/web/src/components/ui/dialog.tsx
  apps/web/src/config/docs.ts
  apps/web/src/types/nav.ts
  apps/web/tsconfig.json
  packages/design-token/index.ts
  pnpm-lock.yaml
Due: build-token, check

Refactor file paths and import statements
  apps/web/src/app/(public)/layout.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/command-menu.tsx
  apps/web/src/components/header.tsx
Due: check

Add experimental package optimization
  apps/web/next.config.js
Due: check

Refactor next.config.js and command-menu.tsx
  apps/web/next.config.js
  apps/web/src/components/command-menu.tsx
Due: check

Update dependencies and UI components
  apps/web/package.json
  apps/web/src/app/(public)/layout.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/header.tsx
  apps/web/src/components/mode-toggle.tsx
  apps/web/src/components/theme-provider.tsx
  apps/web/src/components/ui/dialog.tsx
  apps/web/src/components/ui/dropdown-menu.tsx
  pnpm-lock.yaml
Due: check

Update dependencies and fix code formatting
  apps/docs/package.json
  apps/web/package.json
  apps/web/src/app/(public)/posts/[slug]/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/command-menu.tsx
  apps/web/src/components/header.tsx
  apps/web/src/components/mode-toggle.tsx
  apps/web/src/components/theme-provider.tsx
  apps/web/src/components/ui/command.tsx
  apps/web/src/components/ui/dialog.tsx
  apps/web/src/components/ui/dropdown-menu.tsx
  apps/web/tailwind.config.ts
  biome.json
  package.json
  packages/design-token/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: build-token, check

Update button styles and site name
  apps/web/src/components/ui/button.tsx
  apps/web/src/config/site.ts
  packages/design-token/index.ts
  packages/design-token/package.json
  packages/ui/package.json
  packages/ui/src/components/Button/Button.tsx
  packages/ui/tailwind.config.ts
Due: build-token, check

Revert "Update dependencies and fix code formatting"
  apps/docs/package.json
  apps/web/package.json
  apps/web/src/app/(public)/posts/[slug]/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/command-menu.tsx
  apps/web/src/components/header.tsx
  apps/web/src/components/mode-toggle.tsx
  apps/web/src/components/theme-provider.tsx
  apps/web/src/components/ui/command.tsx
  apps/web/src/components/ui/dialog.tsx
  apps/web/src/components/ui/dropdown-menu.tsx
  biome.json
  package.json
  packages/design-token/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: build-token, check

Update @biomejs/biome version to 1.5.3-nightly.6cbf1c7
  apps/docs/package.json
  apps/web/package.json
  biome.json
  package.json
  packages/design-token/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: build-token, check

Update package.json and biome.json, and modify layout, mode-toggle, header, button, and command-menu components
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/components/command-menu.tsx
  apps/web/src/components/header.tsx
  apps/web/src/components/mode-toggle.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/command.tsx
  apps/web/src/components/ui/dialog.tsx
  apps/web/src/components/ui/dropdown-menu.tsx
  biome.json
Due: check

Update CSS class names in command-menu.tsx, button.tsx, command.tsx, and dialog.tsx
  apps/web/src/components/command-menu.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/command.tsx
  apps/web/src/components/ui/dialog.tsx
  apps/web/src/components/ui/dropdown-menu.tsx
Due: check

Remove autoprefixer and cssnano dependencies
  pnpm-lock.yaml
Due: none

Update global CSS import
  apps/web/src/app/(public)/layout.tsx
  packages/ui/src/globals.css
Due: check

Update UI styling and configuration
  apps/web/components.json
  apps/web/package.json
  apps/web/src/app/(public)/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/command-menu.tsx
  apps/web/src/components/header.tsx
  apps/web/src/components/mode-toggle.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/command.tsx
  apps/web/src/components/ui/dialog.tsx
  apps/web/src/components/ui/dropdown-menu.tsx
  apps/web/tailwind.config.ts
  packages/ui/src/globals.css
  pnpm-lock.yaml
Due: check

Remove unused utility function and update imports in UI components
  apps/web/src/lib/utils.ts
  packages/ui/package.json
  packages/ui/src/components/alert-dialog.tsx
  packages/ui/src/components/calendar.tsx
  packages/ui/src/components/carousel.tsx
  packages/ui/src/components/command.tsx
  packages/ui/src/components/form.tsx
  packages/ui/src/components/pagination.tsx
  packages/ui/src/components/toggle-group.tsx
  pnpm-lock.yaml
Due: check

Remove unused dependencies and update styling
  apps/web/package.json
  apps/web/src/app/(public)/layout.tsx
  apps/web/src/app/layout.tsx
  packages/ui/src/globals.css
Due: check

Remove @tailwindcss/typography package from pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Add logo to header component
  apps/web/src/components/header.tsx
Due: check

Add @svgr/webpack for SVG support
  apps/web/next.config.js
  apps/web/package.json
  apps/web/public/logo.svg
  pnpm-lock.yaml
Due: check

Remove noUncheckedIndexedAccess flag from tsconfig
  packages/tsconfig/base.json
Due: check

Refactor UI storybook configuration and update aspect ratio component
  packages/ui/.storybook/main.ts
  packages/ui/src/components/aspect-ratio/aspect-ratio.stories.tsx
Due: check

Update UI components
  packages/ui/src/components/card/card.stories.tsx
  packages/ui/src/components/carousel/carousel.stories.tsx
  packages/ui/src/components/checkbox/checkbox.stories.tsx
  packages/ui/src/components/dialog/dialog.stories.tsx
  packages/ui/src/components/drawer/drawer.stories.tsx
  packages/ui/src/components/input-otp/input-otp.stories.tsx
  packages/ui/src/components/input/input.stories.tsx
  packages/ui/src/components/sheet/sheet.stories.tsx
  packages/ui/src/components/sonner/sonner.stories.tsx
Due: check

Update tsconfig files and package.json
  packages/design-token/index.ts
  packages/design-token/package.json
  packages/design-token/tsconfig.json
  packages/tsconfig/nextjs.json
  packages/ui/package.json
  packages/ui/tailwind.config.ts
  pnpm-lock.yaml
Due: build-token, check

Add export for tokens.json in package.json and update tsconfig.json include
  packages/design-token/package.json
  packages/design-token/tsconfig.json
Due: build-token, check
