Repository themeaningof8/turborepo-next-basic: changes, and which lefthook commands are due for each by the changed paths.
All: build-token, check

build-token:
  run: bunx run build:token {staged_files}

check:
  run: bunx run check {staged_files}

Update keystatic.config.ts and delete two posts
  apps/web/keystatic.config.ts
  apps/web/src/content/posts/first-post.mdoc
  apps/web/src/content/posts/hello-world.mdoc
Due: check

Update dependencies in package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: check

Update keystatic.config.ts and add hello-world.mdoc
  apps/web/keystatic.config.ts
  apps/web/src/content/posts/hello-world.mdoc
Due: check

Remove global.css and import statement in layout.tsx
  apps/web/src/app/(public)/layout.tsx
  apps/web/src/app/global.css
Due: check

Update UI and design token configurations
  packages/design-token/package.json
  packages/design-token/sd.config.js
  packages/design-token/sd.config.ts
  packages/design-token/tokens.json
  packages/design-token/tokens/borderRadius.tokens.ts
  packages/design-token/tokens/borderWidth.tokens.ts
  packages/design-token/tokens/colors.tokens.ts
  packages/design-token/tokens/fontSize.tokens.ts
  packages/design-token/tokens/maxWidth.tokens.ts
  packages/design-token/tokens/opacity.tokens.ts
  packages/design-token/tokens/screens.tokens.ts
  packages/design-token/tokens/spacing.tokens.ts
  packages/design-token/transforms/pxToRem.js
  packages/design-token/tsconfig.json
  packages/design-token/variables.css
  packages/ui/src/globals.css
  packages/ui/src/tailwind/animation.ts
  packages/ui/src/tailwind/borderRadius.ts
  packages/ui/src/tailwind/borderWidth.ts
  packages/ui/src/tailwind/colors.ts
  packages/ui/src/tailwind/fontSize.ts
  packages/ui/src/tailwind/keyframes.ts
  packages/ui/src/tailwind/opacity.ts
  packages/ui/src/tailwind/spacing.ts
  packages/ui/tailwind.config.ts
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: build-token, check

Update UI and design token configurations
  packages/design-token/index.css
  packages/design-token/package.json
  packages/design-token/sd.config.js
  packages/design-token/tokens.json
  packages/ui/package.json
  packages/ui/postcss.config.js
  packages/ui/src/globals.css
  packages/ui/tailwind.config.ts
  pnpm-lock.yaml
Due: build-token, check

Update UI and design token dependencies
  packages/ui/package.json
  pnpm-lock.yaml
Due: check

Update UI and design token dependencies
  package.json
  pnpm-lock.yaml
Due: check

Revert "Update UI and design token dependencies"
  packages/ui/package.json
  pnpm-lock.yaml
Due: check

Update Node.js version to 20
  .tool-versions
  bun.lockb
  package.json
Due: check

Update pnpm-workspace.yaml, tailwind.config.ts, and package.json
  apps/web/tailwind.config.ts
  bun.lockb
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: check

Update Playwright installation and configuration
  apps/web/.github/workflows/playwright.yml
  apps/web/.vscode/settings.json
  apps/web/playwright.config.ts
Due: check

Add Dependabot configuration for daily updates of bun package ecosystem
  .github/dependabot.yml
Due: none

Add Dependabot configuration for daily updates of bun package ecosystem
  .github/dependabot.yml
  apps/web/playwright.config.ts
Due: check

Update dependencies and fix import in theme-provider.tsx
  apps/web/package.json
  apps/web/src/components/theme-provider.tsx
  bun.lockb
Due: check

Update dependencies in package.json
  apps/web/package.json
  bun.lockb
Due: check

Update design token transforms and global CSS styles
  apps/web/src/global.css
  lefthook.yml
  packages/design-token/index.css
  packages/design-token/sd.config.js
  packages/design-token/tokens.json
  packages/design-token/transforms/deleteDefault.js
  packages/ui/src/components/button/index.tsx
  packages/ui/src/components/form/form.stories.tsx
  packages/ui/src/components/input/input.stories.tsx
  packages/ui/src/components/textarea/textarea.stories.tsx
  packages/ui/src/global.css
Due: build-token, check

Update design token line-height values in CSS and JSON files
  packages/design-token/index.css
  packages/design-token/tokens.json
Due: build-token, check

Path conditions:
  build-token: any of: packages/design-token/*
  check: any of: *.{js,ts,jsx,tsx,json}
